*{
    margin: 0;
    padding: 0;
}
.body{
    background: #ffc999;
    height: 100vh;
    width: 100%;
}
.nav{
    background: green;
    height: 10vh;
    width: 100%;
}
.footer{
    background:#cd853f;
    height: 10vh;
}